site_name: regkit
site_description: A modern, pythonic interface to the Windows registry.
site_url: https://kristjanvalur.github.io/regkit/
repo_url: https://github.com/kristjanvalur/regkit
repo_name: kristjanvalur/regkit

theme:
  name: material

nav:
  - Home: index.md
  - API Reference: api.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths:
            - src
          options:
            show_source: false